@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inconsolata&family=Lugrasimo&family=Montserrat:wght@100;400&family=Poppins:wght@400;500;600;700&family=Satisfy&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar{
  font-family: 'Inconsolata';
}

.navbar img{
  width: 55px;
  height: 55px;
}

.navbar .nav-link{
  font-weight: 800;
  color: #4a4d53 !important;
}

.navbar .nav-link:hover{
  border-bottom: 2px solid #61dafb !important;
  transform: translateY(-5px);
  /* transition: 1s; */
}

.navbar h6{
  width: 40px;
  height: 40px;
  font-size: 20px;
}

#projects .icon-header{
  display: flex;
  justify-content: center;
  align-items: center;
}

#projects {
  font-family: 'Montserrat';
}

#projects img{
  width: 80px;
  height: 80px;
}

/* #projects .carte {
  box-shadow: 3px #282c34;
} */

#projects #icon-1{
  background-color: rgb(252, 135, 153);
}

#projects #icon-2{
  background-color: rgb(237, 237, 83);
}

#projects #icon-3{
  background-color: #61dafb;
}

#projects #icon-4{
  background-color: rgb(79, 216, 79);
}
#projects #icon-5{
  background-color: rgb(248, 180, 53);
}

#projects .last-carte{
  border: 1px dashed #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
}

#projects .carte .title, #projects .carte .desc, #projects .carte .footer{
  font-size: 15px;
}

#projects .carte .form-check-input{
  width: 30px;
  height: 30px;
}

#projects .completedProject .carteContent{
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}

@media screen  and (min-width: 650px){
  #projects .completedProject{
    width: 52%;
    flex-wrap: nowrap;
  }

  #projects .last-carte{
    width: 16rem;
  }
}

@media screen and (max-width:500px){
  #projects .completedProject .carteContent{
    flex-wrap: wrap;
  }

  #projects .last-carte{
    width: 100%;
  }

  #projects .carte{
    width: 100%;
  }

}